@media screen and (max-width: 560px){

	.inside #map-container {
		margin: auto auto;
	  	height: 300px;
	  	position: static;
	  	width: 100%;
	  	margin-top: 20%;
	}

	#breadcrumb{
		min-width: 100vw;
		text-align: center
	}

	#restaurant-container, #reviews-container, #footer{
		width: 100%;
		border: thin solid black;
	}

	#reviews-list li {
		width: 70vw;
	}
	#reviews-list li p{
		font-size: 1rem;
	}

	#footer{
		border: thin dotted red;
		min-width: 100vw;
	}
	#restaurant-hours td{
		font-size: 5vw;

	}
	#restaurant-address {
		font-size: 5vw;

	}

	h2, h1{
		text-align: center;
	}
	#restaurant-name{
		font-size: 5vw;
	}
}